header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;

}
.logo {
  flex-grow: 1;
}
.burger-menu {
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none;
}
nav {
  display: flex;
  gap: 20px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}
nav ul li a {
  text-decoration:none;
  color:#333;
  transition: color 0.3s ease;
  font-size:medium;
}
nav ul li a:hover {
  color: #007bff;
}
@media (max-width: 1100px) {
  .burger-menu {
    display: block;
  }
  nav {
    position: absolute;
    top: 60px; /* Adjust based on your header's height */
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    display: none;
    z-index:999;
  }
  nav.open {
    display: flex;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li a {
    padding: 10px 20px;
    width: 100%;
    text-align: center;
  }
}



