@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.error{
  color: brown;
  font-size: small;
}

.swiper-pagination-bullet {
  background: #000; /* Change the bullet color */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff; /* Change the active bullet color */
}
.video-btn {
  margin:0 auto;
  margin-top:20px;
  text-align: center;
}

.video-btn i {
  font-size:large
}

.video-btn a {
  font-size: large;
}

.centered {
  text-align: center;
}

.centered  svg {
  margin: 0 auto;
}

